{
  "presets": [
    [
      "@babel/preset-env",
      {
        "bugfixes": true,
        "modules": "auto",
        "targets": "defaults, not IE 11"
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    "@babel/preset-typescript"
  ],
  "sourceType": "unambiguous"
}
